In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2020-11-04 01:12:56,19.73,-155.09,86.00,62,40,11.41
1,1,Namibe,AO,2020-11-04 01:12:56,-15.20,12.15,68.54,68,0,9.89
2,2,Upernavik,GL,2020-11-04 01:12:56,72.79,-56.15,16.90,93,100,6.26
3,3,Alyangula,AU,2020-11-04 01:12:56,-13.85,136.42,86.00,70,40,6.93
4,4,Kandrian,PG,2020-11-04 01:12:56,-6.22,149.55,83.12,81,89,8.59
...,...,...,...,...,...,...,...,...,...,...
542,542,Piney Green,US,2020-11-04 01:14:07,34.72,-77.32,55.00,76,1,4.70
543,543,Maniitsoq,GL,2020-11-04 01:14:07,65.42,-52.90,34.07,87,100,57.58
544,544,Rorvik,NO,2020-11-04 01:14:07,64.86,11.24,47.43,69,100,34.05
545,545,Bulgan,MN,2020-11-04 01:14:07,48.81,103.53,26.02,83,73,1.66
546,546,Elk Plain,US,2020-11-04 01:14:07,47.05,-122.40,57.20,100,90,7.27

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2020-11-04 01:12:56,19.73,-155.09,86.00,62,40,11.41
3,3,Alyangula,AU,2020-11-04 01:12:56,-13.85,136.42,86.00,70,40,6.93
4,4,Kandrian,PG,2020-11-04 01:12:56,-6.22,149.55,83.12,81,89,8.59
6,6,Matara,LK,2020-11-04 01:12:57,5.95,80.54,77.14,87,8,5.01
9,9,Kavieng,PG,2020-11-04 01:12:57,-2.57,150.80,85.48,71,100,6.76
17,17,San Matias,BO,2020-11-04 01:12:58,-16.37,-58.40,81.75,33,0,5.99
19,19,Sigli,ID,2020-11-04 01:12:58,5.38,95.96,80.02,75,100,3.83
26,26,Faanui,PF,2020-11-04 01:12:59,-16.48,-151.75,79.56,81,100,18.50
27,27,Mataura,NZ,2020-11-04 01:12:59,-46.19,168.86,75.18,42,0,4.72
29,29,Tual,ID,2020-11-04 01:12:59,-5.67,132.75,81.82,76,95,13.35

In [12]:
preferred_cities_df.count()

City_ID       135
City          135
Country       135
Date          135
Lat           135
Lng           135
Max Temp      135
Humidity      135
Cloudiness    135
Wind Speed    135
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
0         Hilo      US     86.00  19.73 -155.09
3    Alyangula      AU     86.00 -13.85  136.42
4     Kandrian      PG     83.12  -6.22  149.55
6       Matara      LK     77.14   5.95   80.54
9      Kavieng      PG     85.48  -2.57  150.80
17  San Matias      BO     81.75 -16.37  -58.40
19       Sigli      ID     80.02   5.38   95.96
26      Faanui      PF     79.56 -16.48 -151.75
27     Mataura      NZ     75.18 -46.19  168.86
29        Tual      ID     81.82  -5.67  132.75

In [14]:
#Set parameters to search for hotels
params = {"radius": 5000, "type": "lodging", "key": g_key}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,86.00,19.73,-155.09,Hilo Hawaiian Hotel
3,Alyangula,AU,86.00,-13.85,136.42,Groote Eylandt Lodge
4,Kandrian,PG,83.12,-6.22,149.55,Kandrian Station
6,Matara,LK,77.14,5.95,80.54,Amaloh Boutique Resort
9,Kavieng,PG,85.48,-2.57,150.80,Nusa Island Retreat
17,San Matias,BO,81.75,-16.37,-58.40,"HOTEL ""SAN JOSE"""
19,Sigli,ID,80.02,5.38,95.96,Hotel Riza
26,Faanui,PF,79.56,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
27,Mataura,NZ,75.18,-46.19,168.86,Ellie's Villa
29,Tual,ID,81.82,-5.67,132.75,Grand Vilia Hotel

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig